user            = {{ MySQL_postfixadmin_user }}
password        = {{ MySQL_postfixadmin_pass }}
hosts           = {{ MySQL_postfixadmin_host }}
dbname          = {{ MySQL_postfixadmin_db }}
query           = SELECT goto FROM alias WHERE address='%s' AND active = '1'
